body {
	background-color: #333;
}

#settings-box-container {
	overflow: auto; 
	height: 0px;
}
#settings-box table {
	width: auto;
}
#collapse-button {
	background: url('collapse-button.png') 32px 32px;
    background-size: 32px;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 82px;
    border-radius: 82px;
    -webkit-transition: -webkit-box-shadow 0.3s ease-out, opacity 0.3s ease-out;
    -moz-transition: -moz-box-shadow 0.3s ease-out, opacity 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, opacity 0.3s ease-out;
}
#collapse-button:hover {
    -webkit-box-shadow: 0 1px 28px #4b99ad;
    -moz-box-shadow: 0 1px 28px #4b99ad;
    box-shadow: 0 1px 28px #4b99ad;
    opacity: 1;
    cursor: pointer;
}

#settings-box {
	color: whitesmoke;
	background-color: #333;
	position: fixed;
	top: 300px;
	padding: 0px 0px 20px 15px;
	border: solid 6px #522;
	border-radius: 16px;
}
/*#settings-box-heading {
	font-size: 30px;
	color: #a05;
}*/
#settings-box h2 {
	font-size: 24px;
	color: #4B99AD;
}
#settings-box a {
	font-size:20px;
	font-weight: bolder;
	text-decoration: none;
	display: inline-block;
	border: solid 1px crimson;
	border-radius: 3px;
	text-align: center;
	width: 40px;
	color: #a05;
}
#settings-box label {
  width: 115px;
  color: white;
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.0em;
	text-indent: 3.25em;
	margin-top: 0.1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #c08;
	background-color: #803;
}

input.radio:checked ~ label {
	color: white;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}
#input-prompt {
	font-size: 12px;
	font-weight: bold;
}
#input-prompt a {
	font-weight: bolder;
	color: white;
	text-decoration: none;
}
#input-prompt h1 {
	font-size: 18px;
}
#input-prompt img {
	vertical-align: middle;
	height: 20px;
}
#input-prompt nav li {
	display: inline;
	text-align: left;
	padding: 10px;
}

#my-header{
	color: #ccc;
	transition: 500ms all ease;
	border: 1px solid #333;
	font-size: 16px;
}

#text-url {
	background: #111;
	color: #ccc;
	width: 70%;
	padding: 6px 15px 6px 15px;
	border-radius: 5px;
	transition: 500ms all ease;
	font-size: 10px;
	font-weight: bold;
}
#text-url:hover {
	width:80%;
}

#form-submit {
	background: #4B99AD;
    padding: 8px 15px 8px 15px;
    margin-top: 16px;
    border: none;
    font-weight: bold;
    display: block;
    width: 70%;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
}

#form-submit:hover {
	background: #4691A4;
}

#table-results th {
	font-size: 14px;
	color: #4B99AD;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

#table-results td {
	font-size: 14px;
	text-align: left;
	padding-left: 40px;
	padding-right: 10px;
}

#table-results .table-top-header th {
	color: #666;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}
#rank-link {
	font-size: 20px;
	font-weight: bold;
	color: #a00;
	text-decoration: none;
}

.credits p {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
}
.credits a {
	color: #000;
	text-decoration: none;
}

.tabular {
	border-top: 1px solid crimson;
	width: 33.3%;
	float: left;
}

.main-info-pnl {
	background-color: #333 !important;
	border: 1px solid #666 !important;
	color: #aaa !important;
}
.print-pnl {
	display: none !important;
}
.question-pnl {
	background-color: #252525 !important;
	color: #ccc !important;
	font-weight: bold !important;
}
.menu-tbl {
	background-color: #333 !important;
	color: #ccc !important;
	font-weight: bold !important;
}
.grid-table tr:hover {
    background-color: #444 !important;
}
.qstn-row:hover {
    background-color: #444 !important;
}
.rw:hover {
    background-color: #444 !important;
}
#responses h1 {
	color: white;
}
#responses img {
   -webkit-filter: invert(1);
   filter: invert(1);
}