body {
	background-color: #333;
}
#input-prompt {
	font-size: 12px;
	font-weight: bold;
}
#input-prompt a {
	font-weight: bolder;
	color: white;
	text-decoration: none;
}
#input-prompt h1 {
	font-size: 18px;
}
#input-prompt img {
	vertical-align: middle;
	height: 20px;
}
#input-prompt nav li {
	display: inline;
	text-align: left;
	padding: 10px;
}

#my-header{
	color: #ccc;
	transition: 500ms all ease;
	border: 1px solid #333;
	font-size: 16px;
}

#text-url {
	background: #111;
	color: #ccc;
	width: 70%;
	padding: 6px 15px 6px 15px;
	border-radius: 5px;
	transition: 500ms all ease;
	font-size: 10px;
	font-weight: bold;
}
#text-url:hover {
	width:80%;
}

#form-submit {
	background: #4B99AD;
    padding: 8px 15px 8px 15px;
    margin-top: 16px;
    border: none;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

#form-submit:hover {
	background: #4691A4;
}

#table-results th {
	font-size: 14px;
	color: #4B99AD;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

#table-results td {
	font-size: 14px;
	text-align: left;
	padding-left: 40px;
	padding-right: 10px;
}

#table-results .table-top-header th {
	color: #666;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}
#rank-link {
	font-size: 20px;
	font-weight: bold;
	color: #a00;
	text-decoration: none;
}

.credits p {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
}
.credits a {
	color: #000;
	text-decoration: none;
}

.tabular {
	border-top: 1px solid crimson;
	width: 33.3%;
	float: left;
}

#responses h1 {
	color: white;
}