
#my-header{
	background: #333;
	color: #ccc;
	transition: 500ms all ease;
	border: 1px solid #333;
	font-size: 16px;
}

#text-url {
	background: #111;
	color: #ccc;
	width: 200px;
	padding: 6px 15px 6px 15px;
	border-radius: 5px;
	transition: 500ms all ease;
	font-size: 10px;
	font-weight: bold;
}
#text-url:hover {
	width:100%;
}

.notification {
	width: 100%;
	color: #666;
	font-size: 10px;
	font-weight: bold;
}

#form-submit {
	background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

#form-submit:hover {
	background: #4691A4;
}

#table-results th {
	font-size: 14px;
	color: #4B99AD;
	font-weight: bold;
	text-align: right;
	padding-left: 10px;
	padding-right: 5px;
}

#table-results td {
	font-size: 14px;
	text-align: left;
	padding-left: 20px;
	padding-right: 10px;
}

#table-results .table-top-header th {
	color: #666;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}
#table-results a {
	font-size: 26px;
	font-weight: bold;
	color: #a00;
}