body {
	background-color: #333;
}

#settings-box-container {
	overflow: auto;
	height: 0px;
}

#settings-box table {
	width: auto;
}

#collapse-button {
	background: url('collapse-button.png') 32px 32px;
	background-size: 32px;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 82px;
	border-radius: 82px;
	-webkit-transition: -webkit-box-shadow 0.3s ease-out, opacity 0.3s ease-out;
	-moz-transition: -moz-box-shadow 0.3s ease-out, opacity 0.3s ease-out;
	transition: box-shadow 0.3s ease-out, opacity 0.3s ease-out;
}

#collapse-button:hover {
	-webkit-box-shadow: 0 1px 28px #4b99ad;
	-moz-box-shadow: 0 1px 28px #4b99ad;
	box-shadow: 0 1px 28px #4b99ad;
	opacity: 1;
	cursor: pointer;
}

#settings-box {
	color: whitesmoke;
	background-color: #333;
	position: fixed;
	top: 10;
	padding: 0px 0px 20px 15px;
	border: solid 6px #522;
	border-radius: 16px;
}

#settings-box-heading {
	font-size: 30px;
	color: #a05;
}

#settings-box h2 {
	font-size: 16px;
	color: #4B99AD;
}

#interval-width {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#settings-box a {
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
	display: inline-block;
	border: solid 1px crimson;
	border-radius: 3px;
	text-align: center;
	width: 40px;
	color: #a05;
}

#settings-box label {
	width: 170px;
	color: white;
}

.top-float {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #aaa;
}

#colleges {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #aaa;
}

.top-tables th {
	color: #a05;
	font-size: 18px;
}

.total {
	font-size: 22px;
}

.credits p {
	font-size: 16px;
	font-weight: bold;
	color: #666;
}

.credits a {
	color: #000;
	text-decoration: none;
}

.top-tables label {
	width: auto;
	padding-right: 25px;
	border-radius: 3px;
	border: 1px solid #904;
	color: white;
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty~label {
	position: relative;
	float: left;
	line-height: 1.0em;
	text-indent: 3.25em;
	margin-top: 0.1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty~label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked)~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked)~label {
	color: #888;
}

/* toggle on */
input.radio:checked~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #c08;
	background-color: #803;
}

input.radio:checked~label {
	color: white;
}

/* radio focus */
input.radio:focus~label:before {
	box-shadow: 0 0 0 3px #999;
}

#normalized-marks,
#qualifying-marks,
#score,
#rank-normalized,
#rank-set,
#rank-estimate {
	font-weight: bold;
	text-align: left;
	color: #4B99AD;
}

#score,
#normalized-marks,
#rank-estimate {
	font-size: 28px;
}

#charts {
	color: #4B99AD;
	font-family: "Courier 10 Pitch", Courier, monospace;
}

.tabular {
	width: 30%;
	float: left;
	padding: 0 30px 30px 0;
}

#charts h2 {
	font-size: 18px;
	font-weight: bold;
	color: #666;
}

#charts h3 {
	font-size: 16px;
	font-weight: bold;
	color: #666;
}

.underline {
	border-bottom: 1px solid crimson;
}

.myprogress progress[value] {
	height: 20px;
	background-color: #333;
}

.myprogress::-moz-progress-bar {
	background-color: #333;
}

.multiselect {
	width: 200px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	display: none;
	border-bottom: 1px solid #ffffff;
	position: absolute;
	display: none;
	width: 200px;
}

#checkboxes label {
	display: block;
	background: #4d4d4d;
	color: #fff;
	border: 1px solid #f1f1f1;
	border-bottom: 0px;
	border-radius: 0px;
}

#checkboxes label:hover {
	background-color: #4B99AD;
}